:root {
    --main-orange: #ff782e;
    --main-blue: #2eb2eb;
    --main-green: #25dd25;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: Mulish, sans-serif;
    background-color: white;
    color: black;
    min-height: 100vh;
}

.main,
.content {
    position: relative;
    flex-grow: 1;
    z-index: 0;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0 50px;
    box-sizing: border-box;
    background-color: white;
}

.content-padded {
    padding: 1em 20px 50px;
}

.button-background {
    cursor: pointer;
}

button.button-background {
    background: transparent;
}

.button-background::after {
    transition: 100ms;
}

.button-background::before,
.button-background::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-sizing: border-box;
    cursor: pointer;
}

.button-white::before {
    background-color: #eeeeee;
}

.button-orange::before {
    background-color: var(--main-orange);
}

.button-blue::before {
    background-color: var(--main-blue);
}

.button-green::before {
    background-color: var(--main-green);
}

.button-hover-black:hover::after {
    background-color: rgba(0, 0, 0, 0.075);
}

.button-hover-semiorange:hover::after {
    background-color: rgba(255, 120, 46, 0.075);
}

.button-rounded {
    border: none;
    background-color: var(--main-orange);
    color: white;
    border-radius: 40px;
    border: solid transparent;
    font-weight: bold;
    transition: 100ms;
    cursor: pointer;
}

.button-rounded:hover {
    border: solid var(--main-orange);
    color: var(--main-orange);
    background-color: rgba(255, 255, 255, 0.95);
}

.btn-r-default {
    padding: 18px 110px;
    margin-top: 10px;
    font-size: 1.5em;
}

.btn-r-default,
.btn-r-default:hover {
    border-width: 5px;
}

.text-center {
    text-align: center;
}