.search-magnifier,
.header-region {
    filter: invert(100%);
}

.search-input::placeholder {
    color: #f5f5f5;
}

.categories {
    background-color: rgba(0, 0, 0, 0.35);
}

.categories ul li a {
    color: white;
}