.column {
    width: 500px;
}

.slider-single {
    position: relative;
    background-color: white;
    border: 3px solid var(--main-orange);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 2.5px 1em;
}

.slider-single .slick-slide {
    height: 500px;
}

.content-image {
    position: relative;
    height: 500px;
}

.slider-nav {
    position: relative;
}

.slider-nav .slick-slide {
    width: 95px;
    height: 95px;
    cursor: pointer;
}

.nav-image {
    position: relative;
    width: 95px;
    height: 95px;
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 5px;
    box-sizing: border-box;
}

.nav-image:hover {
    border: 2px solid var(--main-blue);
}

.content-image img,
.nav-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.content-image img {
    width: 90%;
    height: 90%;
    padding: 5%;
    /*
    width: 100%;
    height: 100%;
    */
}

.nav-image img {
    width: 85%;
    height: 85%;
}

.slick-slide.is-active .nav-image {
    border: 2px solid var(--main-orange);
}

.slider-nav .slick-slide {
    margin: 0 2.5px;
}

.zoom-lens,
.zoomed-img {
    display: none;
    position: absolute;
}

.zoom-lens {
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid gainsboro;
    width: 60px;
    height: 60px;
}

.zoomed-img {
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid gainsboro;
    box-sizing: border-box;
}

.slick-arrow {
    height: fit-content !important;
    width: 30px !important;
    border-radius: 50% !important;
}

.slider-single .slick-prev {
    left: -35px !important;
}

.slider-single .slick-next {
    right: -35px !important;
}

.slider-nav .slick-prev {
    left: -30px !important;
}

.slider-nav .slick-next {
    right: -30px !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px !important;
    color: var(--main-orange) !important;
    border-radius: 50% !important;
}